body {
  background-image: url("/images/hearts.jpg"); 
  margin: 0;
  padding: 0;
  width: auto;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  color: forestgreen;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  
}

/* #match-modal {
  display: none;
} */
